.pagina {
    background-color: lime;
}
.meniu{
    background-color: black;
    color : white;
    font-size: 20px;
  }
.stil-linkuri {
    text-decoration: underline;
    font-size: 15px;
  }

  .ingosat {
    font-weight:bold;
  }
 