.pagina {
    background-color: lime;
}

.stil-linkuri {
    color: blue;
    font-size: 15px;
  }

  .ingosat {
    font-weight:bold;
  }
  .meniu{
    background-color: black;
    color : white;
    font-size: 20px;
  }