.pagina {
    background-color: lime;
}
.meniu{
    background-color: black;
    color : white;
    font-size: 20px;
    height : 1cm;
    text-align: center;
    border: 3px solid green;
  }
.stil-linkuri {
    text-decoration: underline;
    font-size: 15px;
    color : white;
  }

  .ingosat {
    font-weight:bold;
  }
 